/*
!/25-fall/
/25-fall/*
!/25-fall/prog/
/25-fall/prog/*
!/25-fall/prog/fish-game/
/25-fall/prog/fish-game/*
!/25-fall/prog/fish-game/src/
!/25-fall/prog/fish-game/src/**

!/26-spr/
/26-spr/*
!/26-spr/oop/
/26-spr/oop/*
!/26-spr/oop/crjson/
!/26-spr/oop/crjson/**
!/26-spr/or/
/26-spr/or/*
!/26-spr/or/simplex/
!/26-spr/or/simplex/**
!/26-spr/or/simplex-cli/
!/26-spr/or/simplex-cli/**

!/26-sum/
/26-sum/*
!/26-sum/tjudge/
!/26-sum/tjudge/**
